:root {
  --bg-main: #f0f2f5;
  --bg-container: #ffffff;
  --header: #ffffff;
  --input-area: #f0f2f5;
  --msg-incoming: #e4e6eb;
  --msg-outgoing: #0c0c0c; 
  --text-primary: #050505;
  --text-secondary: #65676b;
  --text-accent: #ffffff;
  --accent-color: #060707;
 --border-color: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 100%;
  max-width: 850px;
  height: 92vh;
  background-color: var(--bg-container);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.chat-header {
  background-color: var(--header);
  color: var(--text-primary);
  padding: 18px 25px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid var(--border-color);
  z-index: 10;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-container);
}

/* message */
.message {
  max-width: 70%;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 18px;
  word-wrap: break-word;
  position: relative;
}

.message.user {
  align-self: flex-end;
  background-color: var(--msg-outgoing);
  color: var(--text-accent);
  border-bottom-right-radius: 4px; 
}
.message.bot {
  align-self: flex-start;
  background-color: var(--msg-incoming);
  color: var(--text-primary);
  border-bottom-left-radius: 4px;
}
/*input*/
.chat-input {
  background-color: var(--header);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 1px solid var(--border-color);
}

.chat-input input {
  flex: 1;
  background-color: var(--input-area);
  border: 1px solid transparent;
  padding: 12px 20px;
  border-radius: 25px;
  color: var(--text-primary);
  outline: none;
  font-size: 15px;
}

.chat-input input:focus {
  border-color: var(--accent-color);
}

.chat-input input::placeholder {
  color: var(--text-secondary);
}

.chat-input button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 10px;
  transition: opacity 0.2s;
}

.chat-input button:hover {
  opacity: 0.7;
}
.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent;
}